<!--views/mainpage.ejs-->

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Mechurial</title>

    <meta name="author" content="team7" />
    <meta name="description" content="Mechurial-website" />
    <!-- width=device-width: 사용하는 디바이스의 가로 너비를 그대로 사용하겠다, initial-scale=1.0: 초기 배율 1배, 
    user-scalable=no: 스마트폰이나 테블릿에서 유저가 확대하는것을 허용 X, maximum-scale=1, minimum-scale=1: 최대 최소 확대 배율 1로 정함 -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, maximum-scale=1, minimum-scale=1"
    />
    <!-- CSS reset -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css"
      integrity="sha512-IJEbgDEF7OeKJRa0MY2PApnyJHRIsgzCveek4ec8VWQ+7KG3ZSKVNYa5xP/Gh0hVP0Mwb+gBsk+GwR3JQGhQNg=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/css/registerManagement.css" />

    <script defer src="main.js"></script>
    <!-- defer: HTML이 다 로딩 된 다음 자바스크립트 코드를 동작 시키겠다.-->
  </head>

  <body>
    <div class="body__container">
      <!-- HEADER -->
      <header class="section">
        <div class="inner clearfix">
          <div class="logo float--left">
            <a href="/">mechurial</a>
          </div>
          <div class="menu-group float--right">
            <ul class="main-menu toggle">
              <li>
                <a href="/register/new">등록</a>
              </li>
              <li>
                <a href="/registerManagement">등록 관리</a>
              </li>
              <li><a href="/mypage_main">마이페이지</a></li>
  
              <% if(is_logined) {%>
                <li><a> <%= userid %> wellcome!</a></li>
                <% } else { %>
                  <li><a href="/signUp">회원가입</a></li>
                 <% } %>
              <% if(is_logined) {%>
                <li><a href="/logOut_main">로그아웃</a></li>
                <% } else { %>
                  <li><a href="/logIn_main">로그인</a></li>
                  <% } %>
            </ul>
          </div>
        </div>
      </header>
      
      <!-- HEADER -->
      <h2 class="h2"> 등록 관리 </h2>
      <table class="type08">
        <thead>
            <tr>
                <th scope="cols">No</th>
                <th scope="cols">siteName</th>
                <th scope="cols">key1</th>
                <th scope="cols">key2</th>
                <th scope="cols">key3</th>
                <th scope="cols">dueDate</th>
                <th scope="cols"> </th>
                <th scope="cols"> </th>
            </tr>
        </thead>
        <tbody>
            <% registrations.forEach(registration => { %>
                <tr>
                    <td>
                      <%= registration.registerId %>
                    </td>
                    <td>
                      <%= registration.siteName %>
                    </td>
                    <td>
                      <%= registration.key1 %>
                    </td>
                    <td>
                      <%= registration.key2 %>
                    </td>
                    <td>
                      <%= registration.key3 %>
                    </td>
                    <td>
                      <%= registration.dueDate %>
                    </td>
          
                    <td>
                      <a href="<%=`/registerManagement/${registration.registerId}/edit`%>">
                        Edit
                      </a>
                    </td>
                    <td>
                      <form action="<%= `/registerManagement/${registration.registerId}/delete`%>" method="post">
                        <input type="hidden" name="id" value="<%= registration.registerId %>">
                        <input type="hidden" name="url" value="<%= registration.pageUrl %>">
                        <input class="delete_btn" type="submit" name="Delete" value="Delete" onClick="alert('Are you sure you want to delete this record?')">
                      </form>
                    </td>
                </tr>
                <% }); %>
        </tbody>
      </table>
  </body>
</html>

<style>
  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }
  th:first-child, td:first-child {
    border-left: none;
  }
</style>