<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<!DOCTYPE html>
<html lang="en">
  <body>
    <div class="body__container">
      <!-- CSS -->
    <header class="section">
      <link rel="stylesheet" href="../public/css/enrollManage.css" />
    </header>
      <!-- 등록관리 창 -->
      <!-- <context class="section">
        <div class="tablelist">
          <div class="menu-group">
            <ul class="tablemenu toggle">
              <li><a href="#" onclick="location.href='enroll.html'">조회</a></li>
              <li><a href="#" onclick="location.href='enroll.html'">추가</a></li>
              <li><a href="#">삭제</a></li>
            </ul>
            <form id="search-form" method="post" action="">
              <ul>
                <li>
                  <input
                    id="search"
                    class="input--text"
                    type="text"
                    placeholder="검색어를 입력하세요..."
                  />
                  <input type="submit" />
                  <button class="btn">확인</button>
                </li>
              </ul>
            </form>
          </div>
        </div>
      </context> -->
      <!-- HEADER -->
      <h2 class="h2"> 등록 관리 </h2>
      <table class="type08">
        <thead>
            <tr>
                <th scope="cols">No</th>
                <th scope="cols">siteName</th>
                <th scope="cols">key1</th>
                <th scope="cols">key2</th>
                <th scope="cols">key3</th>
                <th scope="cols">dueDate</th>
                <th scope="cols"> </th>
                <th scope="cols"> </th>
            </tr>
        </thead>
        <tbody>
            <% registrations.forEach(registration => { %>
                <tr>
                    <td>
                      <%= registration.registerId %>
                    </td>
                    <td>
                      <%= registration.siteName %>
                    </td>
                    <td>
                      <%= registration.key1 %>
                    </td>
                    <td>
                      <%= registration.key2 %>
                    </td>
                    <td>
                      <%= registration.key3 %>
                    </td>
                    <td>
                      <%= registration.dueDate %>
                    </td>
          
                    <td>
                      <a href="<%=`/registerManagement/${registration.registerId}/edit`%>">
                        Edit
                      </a>
                    </td>
                    <td>
                      <form action="<%= `/registerManagement/${registration.registerId}/delete`%>" method="post">
                        <input type="hidden" name="id" value="<%= registration.registerId %>">
                        <input class="delete_btn" type="submit" name="Delete" value="Delete" onClick="alert('Are you sure you want to delete this record?')">
                      </form>
                    </td>
                </tr>
                <% }); %>
        </tbody>
      </table>
  </body>
</html>

<style>
  table {
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
  }
  th, td {
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
  }
  th:first-child, td:first-child {
    border-left: none;
  }
</style>